$background-color-primary: #ffffff;
$background-color-secondary: #f2f2f2;

$outline-color-primary: #ededed;
$outline-color-secondary: rgba(205, 205, 205, 0.5);
$outline-color-tertiary: #cdcdcd;

$text-color-darkest: #111111;
$text-color-darker: #222222;
$text-color-dark: #444444;
$text-color-light: #ffffff;

$button-color-primary: #68b738;
$button-color-secondary: #f2f2f2;
$button-color-tertiary: #5eaa2f;

$decoration-element-color: #68b738;


$font-family-primary: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1300px;
