.button {
  color: $text-light;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $button;

  &--light {
    color: $text-darkest;

    background-color: $background-secondary;
  }
}
