.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-primary;
  color: $text-color-light;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $button-color-primary;

  &--light {
    color: $text-color-darkest;

    background-color: $button-color-secondary;
  }

  &--main {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;
    height: 52px;

    &--main {
    font-size: 20px;
    line-height: 20px;
  }
  }
}
