.example {
  min-height: 705px;

  color: $text-color-darkest;

  background-color: $background-color-secondary;
}

.example__title {
  margin: 0;
}

.example__description {
  margin: 0;

  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.example__statistics-cell {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  &--indicator {
    font-size: 12px;
    line-height: 12px;
    font-family: $font-family-secondary;
    color: $text-color-dark;
    text-transform: lowercase;
  }

  &--nutrition {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.example__before,
.example__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    min-height: 1040px;

    background: linear-gradient(to bottom, $background-color-primary 55%, $background-color-secondary 55%, $background-color-secondary 100%);
  }

  .example__title {
    margin-top: 40px;
  }

  .example__description {
    margin-top: 10px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    min-height: 640px;

    background: linear-gradient(to bottom, $background-color-primary 29%, $background-color-secondary 29%, $background-color-secondary 100%);
  }

  .example__flex-wrapper {
    display: flex;
  }

  .example__title {
    margin-top: 25px;
  }
}
