.example {
  padding-top: 18px;
  padding-bottom: 68px;

  color: $text-color-darkest;

  background-color: $background-color-secondary;
}

.example__title {
  margin: 0;
}

.example__description {
  width: 266px;
  margin: 0;
  margin-top: 23px;

  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.example__statistics {
  margin-top: 22px;
}

.example__statistics tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__statistics-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  &--nutrition {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 18px;
  }
}

.example__statistics-cell {
  box-sizing: border-box;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  &--indicator {
    width: 84px;
    margin-top: -9px;
    margin-left: 18px;

    font-size: 12px;
    line-height: 12px;
    font-family: $font-family-secondary;
    color: $text-color-dark;
    text-transform: lowercase;

    background-color: $background-color-secondary;
    z-index: 2;
  }

  &--value {
    width: 122px;
    padding-top: 14px;
    padding-bottom: 16px;

    border: 1px solid $outline-color-secondary;
  }

  &--nutrition {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.example__fat-cat {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.example__controls {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin: 0 auto;
  margin-top: 33px;
}

.example__before,
.example__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle-bar {
  position: relative;

  width: 82px;
  height: 12px;
  margin-left: 10px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: $background-color-primary;
}

.example__toggle-control {
  position: absolute;
  top: 3px;
  left: 3px;

  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $decoration-element-color;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, $background-color-primary 55%, $background-color-secondary 55%, $background-color-secondary 100%);
  }

  .example__title {
    margin-top: 23px;
  }

  .example__description {
    width: 676px;
    margin-top: 65px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__statistics {
    margin-top: 37px;
  }

  .example__statistics tbody {
    justify-content: flex-start;
  }

  .example__statistics-row {
    width: auto;

    &--nutrition {
      width: 175px;
    }
  }

  .example__statistics-cell {
    font-size: 30px;
    line-height: 37px;

    &--indicator {
      display: inline-block;
      width: auto;
      margin: 0 auto;
      margin-top: -9px;
      padding-left: 8px;
      padding-right: 8px;

      font-size: 14px;
      line-height: 14px;

      background-color: $background-color-primary;
    }

    &--value {
      width: 160px;
      padding-bottom: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, $background-color-primary 29%, $background-color-secondary 29%, $background-color-secondary 100%);
  }

  .example__flex-wrapper {
    display: flex;
  }

  .example__title {
    margin-top: 25px;
  }
}
