.example {
  padding-top: 17px;
  padding-bottom: 37px;

  color: $text-color-darkest;

  background-color: $background-color-secondary;
}

.example__information {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  margin: 0;

  word-break: break-all;
}

.example__description {
  width: 272px;
  margin-top: 23px;

  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.example__statistics {
  width: 280px;
  margin-top: 22px;
}

.example__statistics tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 280px;
}

.example__statistics-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;

  &--nutrition {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 16px;

    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.example__statistics-cell {
  display: inline-block;
  box-sizing: border-box;

  text-transform: uppercase;
  text-align: center;
  word-break: break-all;

  &--indicator {
    width: 84px;
    margin-top: -9px;

    font-size: 12px;
    line-height: 12px;
    font-family: $font-family-secondary;
    color: $text-color-dark;
    text-transform: lowercase;

    background-color: $background-color-secondary;
    z-index: 2;
  }

  &--value {
    width: 122px;
    padding-top: 14px;
    padding-bottom: 16px;

    font-size: 24px;
    line-height: 24px;

    border: 1px solid $outline-color-secondary;
  }
}

.example__cat-slider {
  width: 320px;
  margin: 0 auto;
  margin-top: 30px;
}

.example__fat-cat {
  display: block;
  width: 320px;
  height: auto;
}

.example__controls {
  display: flex;
  justify-content: space-between;
  max-width: 198px;
  margin: 0 auto;
  margin-top: 33px;
  padding-left: 5px;
}

.example__before,
.example__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle-bar {
  position: relative;

  width: 82px;
  height: 12px;
  margin-top: 4px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: $background-color-primary;
}

.example__toggle-control {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: $decoration-element-color;
}

@media (min-width: $tablet-width) {
  .example {
    padding-bottom: 68px;

    border-top: 1px solid $outline-color-primary;
    background: linear-gradient(to bottom, $background-color-primary 57%, $background-color-secondary 57%, $background-color-secondary 100%);
  }

  .example__information {
    width: 708px;
  }

  .example__title {
    margin-top: 23px;
  }

  .example__description {
    width: 676px;
    margin: 0;
    margin-top: 65px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__statistics {
    width: inherit;
    margin-top: 51px;
  }

  .example__statistics tbody {
    min-width: 708px;
    justify-content: flex-start;
  }

  .example__statistics-row {
    width: auto;
    margin-right: 43px;

    &--nutrition {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      width: 176px;
      margin: 0;
      margin-top: 10px;
      margin-left: 122px;

      font-size: 20px;
    }
  }

  .example__statistics-cell {
    &--indicator {
      width: auto;
      max-width: 150px;
      margin: 0 auto;
      margin-top: -9px;
      padding-left: 8px;
      padding-right: 8px;

      font-size: 14px;
      line-height: 14px;

      background-color: $background-color-primary;
    }

    &--value {
      width: 160px;
      padding-bottom: 18px;

      font-size: 30px;
      line-height: 37px;
    }

    &--nutrition {
      padding-bottom: 8px;

      text-align: right;
    }
  }

  .example__cat-slider {
    width: 768px;
    margin-top: 80px;
  }

  .example__fat-cat {
    width: 690px;
    height: auto;
    margin-left: 45px;
  }

  .example__controls {
    max-width: 570px;
    margin-top: 18px;
    padding: 0;
  }

  .example__before,
  .example__after {
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted $outline-color-secondary;

    &:hover {
      border-bottom: 1px solid rgba(17, 17, 17, 0.5);
    }

    &:active {
      border: none;
    }
  }

  .example__toggle-bar {
    width: 428px;
    height: 6px;
    margin-left: 0;
    margin-top: 8px;

    background-color: #dcdcdc;
    border: none;
  }

  .example__toggle-control {
    top: -14px;
    left: 200px;

    width: 34px;
    height: 34px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: $background-color-primary;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $decoration-element-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &:active::before {
      top: 11px;
      left: 11px;
    }

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: $decoration-element-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
    padding-bottom: 66px;

    border: none;
    background: linear-gradient(to bottom, $background-color-primary 29%, $background-color-secondary 29%, $background-color-secondary 100%);
  }

  .example__desktop-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 1300px;
    margin: 0 auto;
  }

  // IE не подстраивает размер контейнера
  .example .container {
    width: 690px;
  }

  .example__information {
    width: 500px;
    margin: 0;
  }

  .example__title {
    margin-top: 55px;
  }

  .example__description {
    width: 431px;
    margin-top: 146px;
  }

  .example__statistics {
    width: 431px;
    margin: 0;
    margin-top: 66px;
  }

  .example__statistics tbody {
    width: inherit;
  }

  .example__statistics-row {
    &--nutrition {
      flex-direction: row;
      width: auto;
      max-width: 400px;
      margin: 0;
      margin-top: 52px;
    }
  }

  .example__statistics-cell {
    &--indicator {
      background-color: $background-color-secondary;
    }

    &--nutrition:first-child {
      margin-right: 60px;
    }
  }

  .example__cat-slider {
    max-width: 790px;
    margin-top: 0;
    padding: 0;
  }

  .example__fat-cat {
    min-width: 690px;
    height: 517px;
    margin: 0;
  }

  .example__controls {
    margin-top: 39px;
    margin-left: 80px;
  }
}
