.location {
  color: $text-color-darkest;

  background-color: $background-color-secondary;

  &--main {
    background-color: $background-color-primary;
  }
}

.location__address-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 114px;
  padding: 0 20px;
}

.location__invitation {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.location__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.location__map {
  min-height: 362px;

  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .location__address-wrapper {
    min-height: 201px;
  }

  .location__map {
    min-height: 400px;
    background-image: url("../../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;
  }

  .location__address-wrapper {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 530px;

    background-color: $background-color-primary;
  }

  .location__map {
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
