.main-products {
  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.main-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-products__item {
  position: relative;

  margin-right: -20px;
  margin-left: -20px;
  padding: 22px 20px 23px 20px;

  border-bottom: 1px solid $outline-color-primary;

  &--more {
    padding-top: 80px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 20px;

    width: 140px;
    height: 144px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url("../img/chicken-small-mobile@1x.jpg");
  }

  &:nth-child(2)::before {
    background-image: url("../img/chicken-big-mobile@1x.jpg");
  }

  &:nth-child(3)::before {
    background-image: url("../img/fish-small-mobile@1x.jpg");
  }

  &:nth-child(4)::before {
    background-image: url("../img/fish-big-mobile@1x.jpg");
  }

  &:nth-child(5)::before {
    background-image: url("../img/buckwheat-small-mobile@1x.jpg");
  }

  &:nth-child(6)::before {
    background-image: url("../img/buckwheat-big-mobile@1x.jpg");
  }

  &:nth-child(7)::before {
    background-image: url("../img/rice-small-mobile@1x.jpg");
  }

  &--more::before {
    top: 26px;
    left: 145px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.main-products__title {
  display: block;
  padding-left: 140px;
  padding-right: 65px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-products__characteristic {
  margin-top: 12px;
  padding-left: 139px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.main-products__characteristic-cell {
  width: 70px;

  &:nth-child(2n) {
    text-align: right;
  }
}

.main-products__button {
  margin-top: 20px;
}

.main-products__show {
  display: block;
  padding-left: 3px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-products__tastes {
  display: block;
  margin-top: 7px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  text-align: center;
  color: $text-color-dark;
}

.main-products__all {
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .main-products {
    margin-top: 25px;
    padding-bottom: 60px;
  }

  .main-products__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
  }

  .main-products__item {
    width: 248px;
    margin-top: 141px;
    margin-right: 60px;
    margin-left: 0;
    padding: 0 38px;
    padding-top: 163px;
    padding-bottom: 40px;

    background-color: $background-color-secondary;
    border-bottom: none;

    &--more {
      border: 1px solid $outline-color-secondary;
      background-color: $background-color-primary;
    }

    &::before {
      width: 161px;
      height: 172px;

      top: -46px;
      left: 80px;
    }

    &:nth-child(1)::before {
      background-image: url("../img/chicken-small-tablet@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/chicken-big-tablet@1x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/fish-small-tablet@1x.png");
    }

    &:nth-child(4)::before {
      background-image: url("../img/fish-big-tablet@1x.png");
    }

    &:nth-child(5)::before {
      background-image: url("../img/buckwheat-small-tablet@1x.png");
    }

    &:nth-child(6)::before {
      background-image: url("../img/buckwheat-big-tablet@1x.png");
    }

    &:nth-child(7)::before {
      background-image: url("../img/rice-small-tablet@1x.png");
    }

    &--large::before {
      width: 195px;
      height: 208px;

      top: -83px;
      left: 64px;
    }
  }

  .main-products__title {
    width: 130px;
    padding: 0;
    margin: 0 auto;

    font-size: 20px;
    text-align: center;
  }

  .main-products__characteristic {
    width: 100%;
    margin-top: 19px;
    padding: 0;

    font-size: 16px;

    border-collapse: collapse;
    border-bottom: 1px solid $outline-color-secondary;
  }

  .main-products__characteristic tr {
    border-bottom: 1px solid $outline-color-secondary;
  }

  .main-products__characteristic-cell {
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .main-products__button {
    margin-top: 31px;
  }
}

@media (min-width: $desktop-width) {
  .main-products__list {
    margin-right: -80px;
  }

  .main-products__item {
    width: 245px;
    margin-right: 80px;
  }
}
