.main-products {
  margin-top: 30px;

  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.main-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-products__item {
  min-height: 208px;

  border-bottom: 1px solid $outline-color;
}

.main-products__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-products__characteristic {
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.main-products__show {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-products__tastes {
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  text-align: center;
  color: $text-color-dark;
}

@media (min-width: $tablet-width) {
  .main-products {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 60px;
  }

  .main-products__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
  }

  .main-products__item {
    width: 324px;
    min-height: 431px;
    margin-top: 140px;
    margin-right: 60px;

    background-color: $background-color-secondary;
    border-bottom: none;

    &--more {
      background-color: $background-color-primary;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-products__list {
    margin-right: -80px;
  }

  .main-products__item {
    width: 245px;
    min-height: 431px;
    margin-right: 80px;
  }
}
