.main-products {
  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.main-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;

  border-bottom: 1px solid $outline-color-primary;

  &--more {
    position: relative;

    padding-top: 80px;
  }

  &--more::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 50%;

    width: 31px;
    height: 31px;
    margin-left: -15px;

    background-image: url("../img/plus-mobile-icon.svg");
    opacity: 0.2;
  }
}

.main-products__flex-wrapper {
  padding-bottom: 20px;
}

.main-products__title {
  display: block;
  width: 75px;
  margin-top: 21px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: $text-color-darkest;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-word;
}

.main-products__characteristic {
  width: 140px;
  margin: 0 auto;
  margin-top: 8px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.main-products__characteristic-cell {
  width: 70px;
  padding: 0;

  word-break: break-word;

  &:nth-child(2n) {
    text-align: right;
  }
}

.main-products__button {
  width: 100%;
  min-height: 40px;
  margin-top: -3px;
}

.main-products__show {
  display: block;
  margin: 0 auto;
  padding-left: 3px;

  font-size: 16px;
  line-height: 20px;
  color: $text-color-darkest;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-word;
}

.main-products__tastes {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 7px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-secondary;
  text-align: center;
  color: $text-color-dark;
  word-break: break-word;
}

.main-products__all {
  margin: 0 auto;
  margin-top: 19px;

  word-break: break-word;
}

@media (min-width: $tablet-width) {
  .main-products {
    margin-top: 28px;
    padding-bottom: 60px;
  }

  .main-products__list {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
  }

  .main-products__item {
    position: relative;

    width: 324px;
    margin-top: 140px;
    margin-right: 60px;
    margin-left: 0;
    padding: 0;
    padding-top: 162px;
    padding-bottom: 42px;

    background-color: $background-color-secondary;
    border-bottom: none;

    &--more {
      display: block;
      width: 246px;
      padding: 0 38px;
      padding-top: 162px;

      box-shadow: inset 0 0 0 1px $outline-color-secondary;
      background-color: $background-color-primary;
    }

    &--more::before {
      top: 53px;

      width: 61px;
      height: 61px;
      margin-left: -30px;

      background-image: url("../img/plus-icon.svg");
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-products__image {
    position: absolute;
    top: -47px;

    display: block;
    padding: 0;
    margin: 0;

    text-decoration: none;

    &--large {
      top: -83px;
    }
  }

  .main-products__image img {
    display: block;
    width: 324px;
    height: auto;
  }

  .main-products__flex-wrapper {
    width: 324px;
    padding: 0 38px;
  }

  .main-products__title {
    width: 130px;
    margin: 0 auto;

    font-size: 20px;
    text-align: center;
  }

  .main-products__characteristic {
    width: 100%;
    margin-top: 19px;

    font-size: 16px;

    border-collapse: collapse;
  }

  .main-products__characteristic tr {
    border-bottom: 1px solid $outline-color-tertiary;
  }

  .main-products__characteristic-cell {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .main-products__button {
    align-self: flex-end;
    width: 249px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .main-products__show {
    width: 140px;
    margin: 0 auto;

    font-size: 20px;
  }

  .main-products__tastes {
    width: 170px;
    margin: 0 auto;
    margin-top: 27px;

    font-size: 16px;
    line-height: normal;
  }

  .main-products__all {
    margin-top: 85px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-products {
    margin-top: 23px;
  }

  .main-products__list {
    width: 1220px;
  }

  .main-products__item {
    width: 245px;
    margin-top: 142px;
    margin-right: 80px;

    &--more {
      width: 167px;
    }

    &--more::before {
      top: 54px;
      left: 50%;
    }

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .main-products__characteristic {
    margin-top: 20px;
  }

  .main-products__image img {
    width: 245px;
    height: auto;
  }

  .main-products__button {
    width: 169px;
  }
}
