.page-header {
  padding: 20px;

  &--regular {
    border-bottom: 1px solid $outline;
  }
}

.page-header__navigation-wrapper {
  color: $text-darkest;

  background-color: $background-primary;
}

.page-header__title {
  color: $text-light;
}








