.page-main__title {
  min-height: 48px;
  margin-top: 25px;

  &--outline {
    padding-bottom: 40px;

    border-bottom: 1px solid $outline-color;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-top: 20px;

    &--outline {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    margin-top: 70px;
  }
}
