.page-header {
  display: flex;
  flex-direction: column;

  color: $text-color-darkest;

  background-color: $background-color-primary;

  &--regular {
    border-bottom: 1px solid $outline-color;
  }
}

.page-header__navigation-wrapper {
  display: flex;
}

.page-header__logo {
  width: 280px;
  height: 66px;
  padding: 0 20px;
}

.page-header__title {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;

    &--main {
      flex-direction: column;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &--main {
      background-image: url("../../img/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
    }
  }

  .page-header--main .site-list__link {
    color: $text-color-light;
  }
}
