.page-header {
  display: flex;
  flex-direction: column;

  color: $text-color-darkest;

  border-bottom: 1px solid $outline-color-primary;

  &--main {
    border-bottom: none;
  }
}

.page-header__logo {
  display: block;
  margin-top: 12px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }

  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    padding-top: 30px;

    &--main {
      &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;

        width: 50vw;
        min-height: 696px;

        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: cover;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }

      }
    }
  }
}
