.page-main__title {
  margin: 0 auto;
  margin-top: 26px;

  &--outline {
    margin-right: -20px;
    margin-left: -20px;
    padding-bottom: 40px;
    padding-left: 20px;

    border-bottom: 1px solid $outline-color-primary;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-top: 30px;

    &--outline {
      margin: 0;
      margin-top: 30px;
      padding: 0;

      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    margin-top: 50px;
  }
}
