.page-footer {
  color: $text-color-dark;

  background-color: $background-color-secondary;
}

.page-footer__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 28px;

  &:hover {
      opacity: 0.8;
    }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin: 0;

  border-top: 1px solid $outline-color-secondary;
  border-bottom: 1px solid $outline-color-secondary;
}

@media (min-width: $tablet-width) {
  .page-footer__flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
  }

  .page-footer__logo  {
    margin-top: 25px;
  }

  .page-footer__social {
    margin: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-top: 30px;
  }

  .page-footer__social {
    margin-top: 10px;
  }

  .page-footer__copyright {
    margin-top: 20px;
  }
}
