.page-main__title {
  margin-top: 25px;

  &--outline {
    padding-bottom: 40px;

    border-bottom: 1px solid $outline-color-primary;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-top: 30px;

    &--outline {
      padding-bottom: 0;

      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    margin-top: 48px;
  }
}
