.page-footer {
  min-height: 236px;

  color: $text-color-dark;

  background-color: $background-color-secondary;
}

.page-footer__logo {
  display: block;
  height: 94px;
}

.page-footer__social {
  min-height: 62px;
}

.page-footer__copyright {
  display: block;
  min-height: 78px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
  }
}
