.primary-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $text-color-darkest;

  &--main {
    max-width: 250px;

    color: $text-color-light;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .primary-title {
    font-size: 60px;
    line-height: 60px;

    &--main {
      max-width: 415px;

      color: $text-color-darkest;
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .primary-title {
    &--main {
      max-width: 415px;
    }
  }
}
