.profile {
  padding-top: 15px;

  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.profile__description {
  width: 226px;
  margin: 0;
  margin-top: 23px;

  color: $text-color-darkest;
  text-transform: uppercase;
}

.profile fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;

  border: none;
}

.profile legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
}

.profile__input-group {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 280px;
}

.profile__entry-field {
  flex-grow: 1;
  min-width: 0;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 13px;

  font-size: 16px;
  color: $text-color-darker;
  text-transform: uppercase;

  border: 1px solid $outline-color-secondary;

  &--textarea {
    font-family: $font-family-primary;
    color: $text-color-dark;
    text-transform: uppercase;
  }

  &::placeholder {
    font-size: 16px;
    font-family: $font-family-primary;
    color: $text-color-dark;
    text-transform: uppercase;
    opacity: 1;
  }
}

.profile__label {
  padding-right: 16px;

  font-size: 16px;
  color: $text-color-darker;
  text-transform: uppercase;
  white-space: nowrap;

  &--radio {
    padding-left: 45px;

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 0px;

      width: 28px;
      height: 28px;

      border: 1px solid $outline-color-tertiary;
      border-radius: 50%;
    }

    &::after {
      display: none;

      content: "";

      position: absolute;
      top: 15px;
      left: 9px;

      width: 12px;
      height: 12px;

      border-radius: 50%;
      background-color: $decoration-element-color;
      opacity: 1;
    }
  }
}

.profile__main {
  padding-top: 25px;
  padding-bottom: 23px;
}

.profile__main .profile__input-group {
  justify-content: space-between;
  margin-top: 15px;
}

.profile__purpose {
  align-items: center;
  margin: 0 -20px;
  padding: 14px 20px 13px;

  border: 1px solid $outline-color-secondary;
}

.profile__purpose .profile__input-group {
  padding-top: 12px;
  padding-bottom: 13px;
}

.profile__radio-button:checked ~ .profile__label--radio::after {
  display: block;
}

.profile__radio-button:hover ~ .profile__label--radio::before,
.profile__radio-button:checked:hover ~ .profile__label--radio::before {
  border: 1px solid #bababa;
}

.profile__radio-button:focus ~ .profile__label--radio::before,
.profile__radio-button:focus ~ .profile__label--radio::after {
  opacity: 0.3;
}

.profile__contacts {

}

.profile__contacts-title {
  margin-top: 28px;
  margin-bottom: 35px;
}

.profile__contacts .profile__input-group {
  justify-content: space-between;
  margin-top: 15px;
}

.profile__comment {
  min-height: 245px;
}

.profile__comment-title {
  padding-top: 16px;
}

.profile__additionally {
  min-height: 240px;
}

.profile__additionally-title {
  padding-top: 9px;
}

.profile__submit {
  margin: 0;
  min-height: 126px;
}

.profile__note {
  line-height: 16px;
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

@media (min-width: $tablet-width) {
  .profile {
    padding-right: 67px;
    padding-left: 71px;
  }

  .profile__description {
    min-height: 100px;

    font-size: 20px;
    line-height: 30px;
  }

  .profile__main {
    min-height: 296px;
  }

  .profile__purpose {
    min-height: 196px;
  }

  .profile__contacts {
    min-height: 340px;
  }

  .profile__contacts-title {
    padding-top: 73px;
  }

  .profile__comment-title {
    padding-top: 34px;
  }

  .profile__comment {
    min-height: 365px;
  }

  .profile__additionally-title {
    padding-top: 20px;
  }

  .profile__additionally {
    min-height: 265px;
  }

  .profile__submit {
    min-height: 140px;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-right: 110px;
    padding-left: 110px;
  }

  .profile__flex-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 218px;
  }

  .profile__main {
    min-height: 200px;
  }

  .profile__purpose {
    width: 570px;
    min-height: 196px;
  }

  .profile__contacts {
    min-height: 270px;
  }

  .profile__comment {
    min-height: 367px;
  }

  .profile__additionally {
    min-height: 210px;
  }
}
