.promo {
  color: $text-color-light;

  background-color: $background-color-primary;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__slogan {
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
