.promo {
  position: relative;

  padding-bottom: 20px;

  color: $text-color-light;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    min-height: 305px;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 73%;
  background-size: 280px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }
}

.promo__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 28px;

  word-break: break-word;
}

.promo__slogan {
  margin: 0;
  margin-top: 25px;

  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

.promo__button {
  margin: 0 auto;
  margin-top: 302px;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 530px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 710px;
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }

    &::before {
      display: none;
    }
  }

  .promo__title {
    width: auto;
    margin-left: 88px;
    padding-top: 30px;
  }

  .promo__slogan {
    margin-top: 42px;
    margin-left: 89px;

    font-size: 20px;
    line-height: 20px;
    color: $text-color-darkest;
    text-align: left;
  }

  .promo__button {
    margin-top: 49px;
    margin-left: 88px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 190px;

    background-image: none;

    &::after {
      content: "";

      position: absolute;
      bottom: 55px;
      left: calc(50% - 160px);
      z-index: -1;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 552px 499px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
      }
    }
  }

  .promo__title {
    margin-top: 52px;
    margin-left: 80px;
  }

  .promo__slogan {
    max-width: 430px;
    margin-left: 80px;
  }

  .promo__button {
    margin-top: 51px;
    margin-left: 80px;
  }
}
