.promo {
  min-height: 502px;
  padding: 0 20px;

  color: $text-color-light;

  background-color: $background-color-primary;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__slogan {
  margin: 0;
  padding: 0;

  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__slogan {
    color: $text-color-darkest;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-color: transparent;
  }
}
