.purpose {
  padding: 0 20px;

  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.purpose__variants {
  margin: 0;
  padding: 0;

  list-style: none;
}

.purpose__item {
  width: 280px;
  min-height: 266px;

  background-color: $background-color-secondary;

  &:first-child {
    margin-bottom: 20px;
  }
}

.purpose__title {
  margin: 0;

  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.purpose__description {
  font-family: $font-family-secondary;
  color: $text-color-dark;
}

.purpose__link {
  font-size: 16px;
  line-height: 16px;
  color: $text-color-darkest;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .purpose {
    padding: 0 30px;
  }

  .purpose__item {
    width: 708px;
    min-height: 372px;

    &:first-child {
    margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .purpose {
    padding: 0 110px;
  }

  .purpose__variants {
    display: flex;
  }

  .purpose__item {
    width: 570px;

    &:first-child {
    margin-right: 80px;
    margin-bottom: 0;
    }
  }
}
