.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-darkest;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $text-color-darker;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;

    &--main {
      color: $text-color-light;
    }
  }
}
