.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  box-sizing: border-box;
  padding: 21px 0;
  text-align: center;

  border-bottom: 1px solid $outline-color;

  &:first-child {
    border-top: 1px solid $outline-color;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: $text-color-darkest;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:focus {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .site-list__link {
    padding-bottom: 6px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $text-color-darker;

    &--active {
      border-bottom: 1px solid $interactive-element-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;

    &--main {
      color: $text-color-light;
    }

    &--active {
      border-bottom: 1px solid $text-color-light;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
