.site-list {
  color: $text-darkest;

  background-color: $background-primary;
  list-style: none;
}

.site-list__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: $text-darkest;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}







