.tertiary-title {
  position: relative;

  display: inline-block;
  padding-right: 23px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-darkest;

  background-color: $background-color-primary;

  // &::after {
  //   content: "";

  //   position: absolute;
  //   top: calc(50% - 2px);
  //   left: 0;
  //   z-index: -1;

  //   width: calc(100vw - 20px);
  //   height: 3px;

  //   background-color: $decoration-element-color;
  // }
}

@media (min-width: $tablet-width) {
  .tertiary-title {
    padding-right: 40px;
    padding-left: 40px;

    font-size: 36px;
    line-height: 36px;

    // &::before {
    //   content: "";

    //   position: absolute;
    //   top: calc(50% - 2px);
    //   left: -67px;

    //   width: 100vw;
    //   height: 3px;

    //   background-color: $decoration-element-color;
    // }


  }
}
