.work-process {
  min-height: 385px;
}

.work-process__title {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 28px;
}

.work-process__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  list-style: none;
}

.work-process__item {
  min-height: 60px;
  margin-bottom: 20px;

  font-family: $font-family-secondary;
  color: $text-color-dark;

  // Временно
  background-color: lightgreen;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .work-process__title {
    margin-top: 47px;
    margin-bottom: 73px;
  }

  .work-process__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -137px;
  }

  .work-process__item {
    width: 245px;
    min-height: 228px;
    margin-bottom: 89px;
    margin-right: 137px;


    // Если не задать отдельно для планшета, то применятся мобильные стили
    &:last-child {
      margin-bottom: 89px;
    }
  }
}

@media (min-width: $desktop-width) {
  .work-process__title {
    margin-top: 72px;
  }

  .work-process__list {
    margin-right: -80px;
    margin-bottom: 0;
  }

  .work-process__item {
    margin-right: 80px;
  }
}
