.work-process {
  padding: 20px;
}


.work-process__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: $text-darkest;
}

.work-process__list {
  list-style: none;
}

.work-process__item {
  font-family: "Arial", sans-serif;
  color: $text-dark;
}


