@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/primary-title.scss";
@import "blocks/promo.scss";
@import "blocks/button.scss";
@import "blocks/purpose.scss";
@import "blocks/work-process.scss";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
        url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
        url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: $text-darkest;

  background-color: $background-primary;
}




