@import "utils/fonts.scss";
@import "utils/variables.scss";
@import "blocks/additional-products.scss";
@import "blocks/button.scss";
@import "blocks/copyright.scss";
@import "blocks/example.scss";
@import "blocks/location.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-products.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/primary-title.scss";
@import "blocks/profile.scss";
@import "blocks/promo.scss";
@import "blocks/purpose.scss";
@import "blocks/secondary-title.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";
@import "blocks/tertiary-title.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/work-process.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-primary;
  color: $text-color-darkest;

  background-color: $background-color-primary;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding: 0 110px;
  }
}
